.book-card {
    max-width: 200px;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--s0);
    flex-wrap: wrap;

    li:last-of-type {
        margin-inline-start: auto;
    }
}

.messages {
    &>li {
        padding: var(--s0);
        border: 1px solid transparent;
        margin-block: 0;
    }

    &>li+li {
        margin-block-start: var(--s-1);
    }

    & .debug {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    & .info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    & .success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    & .warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

    & .error {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
}

.helptext {
    font-size: 0.8rem;
    color: var(--muted);
}

.button {
    display: block;
    width: fit-content;
    text-align: center;
    padding: 12px 24px;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 6px 6px 0 var(--primary);
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.1s ease;

    &:hover {
        transform: translate(3px, 3px);
        box-shadow: 3px 3px 0 var(--primary);
        ;
    }

    &:active {
        transform: translate(6px, 6px);
        box-shadow: none;
    }
}