{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BookSwap{% endblock title %}</title>
    <script src="{% static 'js/htmx/htmx.2.0.4.min.js' %}" async></script>
</head>

<h1>
    <a href="/">BookSwap</a>
</h1>
<nav>
    <ul>
        <li><a href="{% url 'listings' %}">Your Listings</a></li>
        <li><a href="{% url 'new_listing' %}">New Listing</a></li>
    </ul>
</nav>

{% block main %}{% endblock main %}
