{% extends "core/base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock head %}

{% block main %}
<small class="center display:block">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</small>
<form class="center stack" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form.as_table }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}
    </table>
    <div style="display: flex; flex-direction: row-reverse; gap: var(--s0);">
        <input class="button" type="submit" value="Next"/>
        {% if wizard.steps.prev %}
            <button class="button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>Previous</button>
        {% endif %}
    </div>
</form>
{% endblock main %}