{% extends "core/base.html" %}

{% block main %}
<h1>Welcome to BookSwap!</h1>
<p>BookSwap is a platform where you can list your books for trade.</p>
<p>Once you're logged in, you can view your listings, add new books, and manage your account.</p>
<p>Happy swapping!</p>

<h2>Recommended Books</h2>
<ul class="reel padding:0">
    {% for listing in listings %}
        <li class="list-style:none" style="max-width: 300px; display: grid;">
            <h3 class="margin:0">{{ listing.title }}</h3>
            <img src="{{ listing.cover_photo.url }}" style="max-width: 100px"/>
            <a href="{% url 'new_swap' %}?proposed_to={{ listing.owner.id }}&requested_book_listing_ids={{ listing.id }}">SWAP</a>
        </li>
    {% endfor %}
</ul>

{% endblock main %}

