{% extends "core/base.html" %}

{% block main %}
<div class="stack">
    <h1 class="center text-align:center color-primary">Find Your Next Read, Share Your Favorites</h1>
    <p class="center text-align:center">Join our community of readers and exchange books with people nearby.</p>

    <form class="center text-align:center" action="{% url 'index' %}" method="get">
        <input type="text" name="search" placeholder="Search for books by title, author, or genre...">
        <button>
            <i class="bi bi-search"></i>
        </button>
    </form>

    <div>
        <h2 class="center text-align:center color-primary">Recently Listed Books</h2>
        <ul class="reel padding:0">
            {% for listing in listings %}
                <li class="list-style:none">
                    <article class="book-card box stack">
                        <img src="{{ listing.cover_photo.url }}" style="max-width: 100px"/>
                        <div class="margin-block-start:s-2">
                            <p>
                                <i class="bi bi-geo-alt margin-inline-end:s-3"></i>{{ listing.get_city }}
                            </p>
                            <h3 class="margin:0">{{ listing.title }}</h3>
                            <p class="margin:0">{{ listing.author }}</p>
                            <a class="color-primary" href="{% url 'new_swap' %}?proposed_to={{ listing.owner.id }}&requested_book_listing_ids={{ listing.id }}">
                                <i class="bi bi-arrow-left-right margin-inline-end:s-3"></i>Swap
                            </a>
                        </div>

                    </article>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>




{% endblock main %}

