{% extends "core/base.html" %}

{% block main %}
<h1 class="center text-align:center color-primary">Your Listings</h1>
<ul class="center stack padding:0">
{% for listing in listings %}
    <li class="box list-style:none" style="display: flex; gap: var(--s0)">
        <img src="{{ listing.book.cover_url_medium }}" alt="Cover for {{ listing.book.title }}" style="width:100px;"></img>
        <div>
            <h2>
                <a href="{% url 'listing' listing.id %}">{{ listing.book.title }}</a>
            </h2>
            <p>{{ listing.book.authors.all|join:", " }}</p>
            <small class="display:block">
                Listed on {{ listing.created_at|date:"F j, Y" }}
            </small>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock main %}
