{% extends "core/base.html" %}

{% block main %}
<h1 class="center text-align:center color-primary">New Listing</h1>

<div class="center">
    <div style="display: flex; gap: var(--s0);">
        <img src="{{ ol_cover_url }}" alt="Book cover"/>
        <div>
            <h2>{{ title }}</h2>
            <h3>{{ author_names|join:", " }}</h3>
        </div>
    </div>
</div>

<form class="center stack" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form }}
    <div class="display:flex justify-content:space-between align-items:center">
        <a href="{% url 'index' %}">Something wrong?</a> <!-- TODO: implement manual entry -->
        <input class="button" type="submit" value="Submit">
    </div>
</form>
{% endblock main %}