{% extends "core/base.html" %}

{% block main %}
<h1 class="center text-align:center color-primary">New Listing</h1>
<p class="center">
    Take a picture of your book's barcode or manually enter its ISBN.
</p>
<form class="center stack" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form }}
    <div class="display:flex justify-content:space-between align-items:center">
        <a href="{% url 'new_listing' %}">No ISBN?</a>
        <input class="button" type="submit" value="Submit">
    </div>
</form>
{% endblock main %}