{% extends "core/base.html" %}

{% block main %}
<h1 class="center text-align:center color-primary">Search Results</h1>
<ul class="center stack padding:0">
{% for listing in page_obj %}
    <li class="box list-style:none" style="display: flex; gap: var(--s0)">
        <img src="{{ listing.cover.url }}" alt="Cover for {{ listing.title }}" style="width:100px;"></img>
        <div style="flex: 1;">
            <h2>{{ listing.title }}</h2>
            <p class=>{{ listing.authors }}</p>
            <p class="color:muted"><i class="bi bi-geo-alt margin-inline-end:s-4"></i>{{ listing.get_city }}</p>
            <p class="color:muted"><i class="bi bi-clock margin-inline-end:s-3"></i>{{ listing.created_at|timesince }} ago ({{ listing.created_at|date:"F j, Y" }})</p>
            <a style="margin-inline-start: auto;" class="button" href="{% url 'new_swap' %}?proposed_to={{ listing.owner.id }}&requested_book_listing_ids={{ listing.id }}">
                <i class="bi bi-arrow-left-right margin-inline-end:s-2"></i>Swap
            </a>
        </div>
        
    </li>
{% endfor %}
</ul>

<nav class="center margin-block-start:s-2 text-align:center" aria-label="Search result navigation">
    {% if page_obj.has_previous %}
        <a href="?query={{ query }}&page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?query={{ query }}&page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</nav>
{% endblock main %}
