{% extends "core/base.html" %}

{% block main %}
<h1 class="center text-align:center color-primary">Swaps</h1>

<div class="stack">
    <div>
        <h2 class="center color-primary">Created</h2>
        <ul class="center stack padding:0" style="--space: 1rem">
            {% for swap in swaps_by_you %}
                <li class="box list-style:none">
                    <a href="{% url 'swap' swap.id %}">
                        {% for book in swap.offered_books.all %}
                            {{ book.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}

                        <i class="bi bi-arrow-left-right"></i>
                        {% for book in swap.requested_books.all %}
                            {{ book.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </a>

                    <small class="display:block">{{ swap.created_at|timesince }} ago</small>
                </li>
            {% empty %}
                <li>No swaps proposed by you.</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2 class="center color-primary">Received</h2>
        <ul class="center stack padding:0" style="--space: 1rem">
            {% for swap in swaps_to_you %}
                <li class="box list-style:none">
                    <a href="{% url 'swap' swap.id %}">
                        {% for book in swap.requested_books.all %}
                            {{ book.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}

                        <i class="bi bi-arrow-left-right"></i>
                        {% for book in swap.offered_books.all %}
                            {{ book.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </a>

                    <small class="display:block">{{ swap.created_at|timesince }} ago</small>
                </li>
            {% empty %}
                <li>No swaps proposed to you.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock main %}