{% extends "core/base.html" %}

{% block main %}

<div class="stack center">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h2>{{ them.username }}'s books</h2>
            <ul>
                {% for book in their_books %}
                    <li>{{ book.title }}</li>
                {% endfor %}
            </ul>
        </div>

        <i class="bi bi-arrow-left-right font-size:s1"></i>

        <div>
            <h2>Your books</h2>
            <ul>
                {% for book in your_books %}
                    <li>{{ book.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <ol id="chat-log" class="stack list-style:none padding:0 display:flex flex-direction:column align-items:center" style="height: 60vh; overflow-y:auto;">
        {% for entry in swap.get_timeline %}
            {% if entry.type == 'event' %}
                <li class="box">{{ entry.item.user }} {{ entry.item.get_type_display|lower }} this swap
                    <small class="display:block font-style:italic color:muted">{{ entry.item.created_at }}</small>
                </li>
            {% elif entry.type == 'message' %}
                <li 
                    speech-bubble 
                    {% if entry.item.sender != you %}
                        pleft
                    {% else %}
                        pright
                    {% endif %}
                    acenter
                    class="{% if entry.item.sender != you %}align-self:flex-start{% else %}align-self:flex-end{% endif %}"
                    style="{% if entry.item.sender != you %}--bbColor: var(--color-primary-50); {% endif %}max-width: clamp(0px, calc(100% - 1.5rem), calc(640px - 1.5rem - var(--bbArrowSize))); overflow-wrap: break-word;">
                    {{ entry.item.content }}
                    <small class="display:block font-style:italic" style="margin-top: 0.5rem;">{{ entry.item.created_at }}</small>
                </li>
            {% endif %}
        {% endfor %}
    </ol>

    {% if swap.status == 'PROPOSED' %}
    <div class="display:flex justify-content:flex-end gap:s0">
        {% if swap.proposed_by == you %}
            <a class="button" href="{% url 'cancel_swap' swap.id %}">Cancel</a>
        {% else %}
            <a class="button" href="{% url 'accept_swap' swap.id %}">Accept</a>
            <a class="button" href="{% url 'decline_swap' swap.id %}">Decline</a>
        {% endif %}
    </div>
    {% elif swap.status == 'CANCELLED' %}

    {% elif swap.status == 'ACCEPTED' %}
    <div>
        <textarea id="chat-message-input" type="text" class="width:100" maxlength="255" rows='5'></textarea>
        <small id="char-count" class="color:muted">0/255</small>
        <div class="display:flex justify-content:flex-end">
            <input id="chat-message-submit" type="button" class="button" value="Send">
        </div>
    </div>
    {% elif swap.status == 'DECLINED' %}

    {% endif %}

</div>

{% endblock main %}

{% block tail %}
{{ swap_id|json_script:"swap-id" }}
{{ you.id|json_script:"user-id" }}
<script>
    const swapId = JSON.parse(document.getElementById('swap-id').textContent);
    const userId = JSON.parse(document.getElementById('user-id').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/swap/'
        + swapId
        + '/messages'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        const chatMessage = document.createElement('li');
        chatMessage.setAttribute('speech-bubble', '');
        chatMessage.style.maxWidth = 'clamp(0px, calc(100% - 1.5rem), calc(640px - 1.5rem - var(--bbArrowSize)))';
        chatMessage.style.overflowWrap = 'break-word';

        if (data.user_id != userId) {
            chatMessage.setAttribute('pleft', '');
            chatMessage.setAttribute('acenter', '');
            chatMessage.classList.add('align-self:flex-start');
            chatMessage.style.setProperty('--bbColor', 'var(--color-primary-50)');
        } else {
            chatMessage.setAttribute('pright', '');
            chatMessage.setAttribute('acenter', '');
            chatMessage.classList.add('align-self:flex-end');
        }

        chatMessage.textContent = data.message;

        const timestamp = document.createElement('small');
        timestamp.classList.add('display:block', 'font-style:italic', 'color:muted');
        timestamp.textContent = data.timestamp;

        chatMessage.appendChild(timestamp);
        document.querySelector('#chat-log').appendChild(chatMessage);

        scrollChatToBottom();
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        if (message.length > 255) {
            alert('Message cannot be longer than 255 characters.');
            return;
        }

        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };

    // Character counter for the message input
    const messageInput = document.getElementById('chat-message-input');
    const charCount = document.getElementById('char-count');
    messageInput.addEventListener('input', function(e) {
        const count = e.target.value.length;
        document.getElementById('char-count').textContent = `${count}/255`;
    });

    function scrollChatToBottom() {
        const chatLog = document.getElementById('chat-log');
        if (chatLog) {
            chatLog.scrollTop = chatLog.scrollHeight;
        }
    }
    document.addEventListener('DOMContentLoaded', scrollChatToBottom);
</script>
{% endblock tail %}
