{% extends "core/base.html" %}

{% block main %}
<h1 class="center text-align:center color-primary">{{swap.proposed_by.username}} wants to swap with {{ swap.proposed_to.username }}</h1>
<p class="center text-align:center">Proposed on: {{ swap.created_at }}</p>
<p class="center text-align:center">Status: {{ swap.status }}</p>

<h2 class="center">Timeline</h2>
<ul class="center">
    {% for entry in swap.get_timeline %}
        {% if entry.type == 'event' %}
            <li>{{ entry.item.get_type_display }} on {{ entry.item.created_at }}</li>
        {% elif entry.type == 'message' %}
            <li>{{ entry.item.content }} on {{ entry.item.created_at }}</li>
        {% endif %}
    {% endfor %}
</ul>

<h2 class="center">{{ swap.proposed_by.username }}'s books</h2>
<ul class="center">
    {% for book in swap.offered_books.all %}
        <li>{{ book.title }}</li>
    {% endfor %}
</ul>

<h2 class="center">{{ swap.proposed_to.username }}'s books</h2>
<ul class="center">
    {% for book in swap.requested_books.all %}
        <li>{{ book.title }}</li>
    {% endfor %}
</ul>

{% if swap.status == 'PROPOSED' %}
    {% if swap.proposed_by == request.user %}
        <a href="{% url 'cancel_swap' swap.id %}">Cancel Swap</a>
    {% else %}
        <a href="{% url 'accept_swap' swap.id %}">Accept Swap</a>
        <a href="{% url 'decline_swap' swap.id %}">Decline Swap</a>
    {% endif %}
{% elif swap.status == 'CANCELLED' %}

{% elif swap.status == 'ACCEPTED' %}

{% elif swap.status == 'DECLINED' %}

{% endif %}



{% endblock main %}
