:root {
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    --primary: oklch(0.5 0.09 156);
    --primary-background: oklch(0.9 0.09 156);
    --muted: #6c757d;

    --color-primary-50: #deffe8;
    --color-primary-100: #a8e8bf;
    --color-primary-200: #8ac9a1;
    --color-primary-300: #6dab84;
    --color-primary-400: #508e69;
    --color-primary-500: #31724d;
    --color-primary-600: #006439;
    --color-primary-700: #004b2a;
    --color-primary-800: #00331a;
    --color-primary-900: #001f0e;
}

* {
    font-family: sans-serif;
}

body {
    padding: var(--s0);
}

a {
    color: black;
    transition: all 0.2s ease;
    text-underline-offset: 4px;
}

a:visited {
    color: black;
}

a:hover {
    color: var(--primary);
}